<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="calendar.js"></script>
    <link rel="stylesheet" href="calendar.css">
  </head>
  <body>
    <div ng-controller="CalendarCtrl">
      
      <h1>{{month()}} {{year}}</h1>

      <button ng-click="previousMonth()"> &lt;&lt; Previous</button>
      <button ng-click="nextMonth()">Next &gt;&gt;</button>      

      <ul>
        <li ng-repeat="booking in bookings">          
          <span>{{booking.who}}</span>
          <span>{{booking.from}}</span>
          <span>{{booking.to}}</span>
        </li>
      </ul>

      <div id="calendar-header">
        <div>Monday</div>
        <div>Tuesday</div>
        <div>Wednesday</div>
        <div>Thrusday</div>
        <div>Friday</div>
        <div>Saturday</div>
        <div>Sunday</div>
      </div>

      <div>
        <div class="day not-this-month clear">29</div>
        <div class="day not-this-month">30</div>
        <div class="day">1</div>
        <div class="day">2</div>
        <div class="day">3</div>
        <div class="day">4</div>
        <div class="day">5</div>
      </div>

      <div>
        <div class="day clear">6</div>
        <div class="day">7</div>
        <div class="day">8</div>
        <div class="day">9</div>
        <div class="day">10</div>
        <div class="day">11</div>
        <div class="day">12</div>
      </div>

       <div>
        <div class="day clear">13</div>
        <div class="day">14</div>
        <div class="day">15</div>
        <div class="day">16</div>
        <div class="day">17</div>
        <div class="day">18</div>
        <div class="day">19</div>
      </div>

      <div>
        <div class="day clear">20</div>
        <div class="day">21</div>
        <div class="day">22</div>
        <div class="day">23</div>
        <div class="day">24</div>
        <div class="day">25</div>
        <div class="day">26</div>
      </div>

      <div>
        <div class="day clear">27</div>
        <div class="day">28</div>
        <div class="day">
            <span>29</span>
        </div>
          <div class="day">
              <span>30</span> 
              <div class="event">Asier</div>
          </div>
          <div class="day">
              <span>1</span> 
              <div class="event">Asier</div>
          </div>
          <div class="day not-this-month">
              <span>2</span> 
              <div class="event">Asier</div>
          </div>
        <div class="day not-this-month">3</div>
      </div>

    </div>
  </body>
</html>