<!doctype html>
<html ng-app>
  <head>
    <script src="lib/angular-1.0.8/angular.min.js"></script>
    <script src="calendar.js"></script>
    <link rel="stylesheet" href="calendar.css">
  </head>
  <body>
    <div ng-controller="CalendarCtrl">
      
      <h1>{{month()}} {{year}}</h1>

      <button ng-click="previousMonth()"> &lt;&lt; Previous</button>
      <button ng-click="nextMonth()">Next &gt;&gt;</button>      

      <div id="calendar-header">
        <div>Monday</div>
        <div>Tuesday</div>
        <div>Wednesday</div>
        <div>Thrusday</div>
        <div>Friday</div>
        <div>Saturday</div>
        <div>Sunday</div>
      </div>
        
      <div class="clear"></div>


      <div ng-repeat="day in days">
          <div class="day" ng-class="{'not-this-month': day.isNotThisMonth}">            
            <span>{{day.value}}</span>          
        </div>
        <div ng-hide="($index+1) % 7" class="clear"></div>
      </div>      

    </div>
  </body>
</html>